   <ng-template #content let-c="close" let-d="dismiss">
       <div class="modal-header">
         <h4 class="modal-title">{{record.short_title}}</h4>
         <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>  
       <div class="modal-body" [innerHtml]="record.additional_description_1">

      </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
       </div>
     </ng-template>


<div class='record-content'  *ngIf='record'> 
  <h3> {{record.short_title}} </h3>
  <div class='record'>
    <P>
      {{this.address}} <br>
     From : {{record.start_date | date}} To:
      {{record.end_date | date}} <br>
<button (click)='add()' class="btn  btn-outline-primary">Add to schedule</button>
<button (click)='open(content)' class="btn  btn-outline-info">info</button>
  
</P>
  
   
  </div>
  </div>  